<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongjh.kotlindemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kotlin.genericity.RadialProjectionActivity"/>
        <activity android:name=".kotlin.genericity.MorphActivity"/>
        <activity android:name=".kotlin.genericity.GenericConstraintActivity" />
        <activity android:name=".kotlin.genericity.GenericityWhenActivity" />
        <activity android:name=".kotlin.genericity.GenericityActivity" />
        <activity
            android:name=".kotlin.dataclass.SealTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.dataclass.CopyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.expand.emember2.ExpandMember2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.expand.emember.ExpandMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.expand.associatedobject.ExpandAssociatedObjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.expand.eproperty.ExpandPropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.expand.enull.ExpandNullActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.expand.efun.ExpandFunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.kotlininterface.funoverwrite.FunOverwriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.kotlininterface.kotilininterface.KotlinInterfaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.inheritance.overwriteproperty.OverwritePropertyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.inheritance.overwriteclass.OverwriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.inheritance.subclass.SubclassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.kotlinclass.AnonymousInnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.kotlinclass.InnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.kotlinclass.NestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.kotlinclass.AbstractActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.kotlinclass.PersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.forLoop.ReturnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.forLoop.WhileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.forLoop.ForActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.condition.WhenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.condition.RangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.condition.IfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.grammar.CharacterTempActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.datatype.CharacterStringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.datatype.ArrayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.datatype.CharActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.datatype.AnOperatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.datatype.TypeConversionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.datatype.CompareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.grammar.SectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.grammar.IsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.grammar.NullActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.grammar.CharacterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.grammar.FunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.enum.EnumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>