<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhongjh.kotlindemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kotlin.expand.associatedobject.ExpandAssociatedObjectActivity"></activity>
        <activity android:name=".kotlin.expand.eproperty.ExpandPropertyActivity" />
        <activity android:name=".kotlin.expand.enull.ExpandNullActivity" />
        <activity android:name=".kotlin.expand.efun.ExpandFunActivity" />
        <activity android:name=".kotlin.kotlininterface.funoverwrite.FunOverwriteActivity" />
        <activity android:name=".kotlin.kotlininterface.kotilininterface.KotlinInterfaceActivity" />
        <activity android:name=".kotlin.any.overwriteproperty.OverwritePropertyActivity" />
        <activity android:name=".kotlin.any.overwriteclass.OverwriteActivity" />
        <activity android:name=".kotlin.any.subclass.SubclassActivity" />
        <activity android:name=".kotlin.kotlinclass.AnonymousInnerActivity" />
        <activity android:name=".kotlin.kotlinclass.InnerActivity" />
        <activity android:name=".kotlin.kotlinclass.NestActivity" />
        <activity android:name=".kotlin.kotlinclass.AbstractActivity" />
        <activity android:name=".kotlin.kotlinclass.PersonActivity" />
        <activity android:name=".kotlin.forLoop.ReturnActivity" />
        <activity android:name=".kotlin.forLoop.WhileActivity" />
        <activity android:name=".kotlin.forLoop.ForActivity" />
        <activity android:name=".kotlin.condition.WhenActivity" />
        <activity android:name=".kotlin.condition.RangeActivity" />
        <activity android:name=".kotlin.condition.IfActivity" />
        <activity android:name=".kotlin.grammar.CharacterTempActivity" />
        <activity android:name=".kotlin.datatype.CharacterStringActivity" />
        <activity android:name=".kotlin.datatype.ArrayActivity" />
        <activity android:name=".kotlin.datatype.CharActivity" />
        <activity android:name=".kotlin.datatype.AnOperatorActivity" />
        <activity android:name=".kotlin.datatype.TypeConversionActivity" />
        <activity android:name=".kotlin.datatype.CompareActivity" />
        <activity android:name=".kotlin.grammar.SectionActivity" />
        <activity android:name=".kotlin.grammar.IsActivity" />
        <activity android:name=".kotlin.grammar.NullActivity" />
        <activity android:name=".kotlin.grammar.CharacterActivity" />
        <activity android:name=".kotlin.grammar.FunActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>